<form action='/post/new' method="POST">
  <label>Title: <input type="text" name="post[title]"></label><br>
  <label>Url: <input type="text" name="post[url]"></label><br>
         <input type="submit" value="Create">
</form>
